body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: mintcream;
}

div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(72,61,139,0.7);
    border-radius: 15px;
    }

h1 {
    color: salmon;
}

.para{
    font-family: 'Courier New', Courier, monospace;
}

.darkmode {
    background-color: black;
    color: white;
}
